.container {
    background-color: rgb(201, 216, 231);
    padding: 30px;
    font-size: large; /* Changed the font size of Full Name, Email, and Message */
    font-weight: bold /* Changed the Full Name, Email, and Message to bold */
}

input[type=text], textarea {
    width: 98%; /* The overall width of the page */
    padding: 12px; /* Adds space around text */
    border: 3px dashed ; /* Added dashed borders around my text areas */
    margin-top: 6px; /* Adds 6 px of spacing between Full Name and my box */
    margin-bottom: 14px; /* Adds 14 px of spacing between the bottom of the box and next content */
    resize: vertical; /* Allows the user to resize the box only in the vertical position */
    

 }

input[type=email], textarea {
    width: 98%;
    padding: 12px;
    border: 3px dashed;
    margin-top: 6px;
    margin-bottom: 14px;
}

input[type=submit] {
    background-color: green;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
}

/* Below is my CSS for booking.html file */

.card, .card2, .card3, .card4 {
    box-shadow: 0 6px 10px; /* Added some shadow for the card so it stands out more */
padding-top: 1%; /* Added some padding so that the top of the image did not hug the card */
padding-left: 1%; /* Added some padding so that the image did not hug the left side of the card */
    
}

.card:hover, .card2:hover, .card3:hover, .card4:hover {
    box-shadow: 0 12px 20px; /* This adds more of a shadowy effect when you hover your mouse over the card */
}

.container1, .container2, .container3, .container4 {
    padding: 2px 8px; /* Added some padding for the name and work schedule underneath card */
}

#mwabonje p, #dwayne p, #bulma p {
    font-weight: bold;
}

#jeremiah p {
    color: red;
    font-weight: bold;
}

#jeremiah li p {
    color: black; /* Changes the color of the initial p tag from red to black */ 

}

#mwabonje li p #dwayne li p, #bulma li p {
    font-weight: bold
}

#jeremiah li a, #mwabonje li a, #dwayne li a, #bulma li a {
    font-weight: lighter; /* Changes the font to a lighter tone */
    text-decoration: none; /* Removes the line for the hyperlink */
    
}

